body {
  background-image: url('../../assets/images/gray_tiles.png');
}
.ui.huge.header {
	font-size: 3em;
}
a {
	color: grey;
}

i.large.icons {
	font-size: 2em;
}
.parent {
  position: relative;
	min-height: 100vh;
}

.child {
	width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
