body {
	font-family: Arial;
}

h1 {
	text-align: center;
	font-size: 35px;
}

h4 {
	font-size: 17px;
}


.flocking-cited a:hover {
	text-decoration: none;
	color: #D1E7F9;

}

.content {
	margin-top: -70px;
	width: 100%;
}


.p5parent {
	margin-top: -60px;
	width: 100%;
	background-color: #7AA7D6;

}
.flocking-cited {
	width: 100%;
	background-color: #7AA7D6;
	padding-top: 10px;
	margin-top: -15px;
	font-size: 20px;
	padding-bottom:5px;
	font-family: Georgia;
}
.flocking-caption {
	color: #FFF;
}


.section {
	margin-top:30px;
	padding-top: 45px;
	/*text-align: center;*/
	width: 100%;
	height: 100%;
	padding-bottom: 70px;
	/*padding-left: 150px;*/
	/*padding-right: 150px;*/
}


.about-box {
	background-color: #f0f0f0;
	padding: 35px;
	border: 15px solid #FFF;
	margin-bottom: -30px;
	min-height: 750px;
}

.centered{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.img-icon {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

.bg-gray {
	background-color: #f0f0f0;
}

.project-box-gray {
	background-color: #f0f0f0;
	padding: 40px;
	padding-bottom: 80px;
}

.project-box{
	background-color: #FFF;
	padding: 40px;
	padding-bottom: 80px;
}


.footer {
	background-color: #7AA7D6;
	height: 150px;
	width: 100%;
	color: #FFF;
	text-align: center;
	padding-top: 50px;
	font-size: 20px;
}


.company-social {
	text-align: left;
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
}


.company-social li {
	display: inline-block;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #FFF;
}

.social-icon {
	width: 35px;
	padding: 10px;
	/*background-color: #000;*/
	text-align: center;
}

.icon-container {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.vert-align {
	margin-top:30%;
}

.company-social a:hover{
	opacity: 0.6;
}
.fb-icon {
	background-color:#3b5998;
}

.github-icon {
	background-color:#333;
}

.linkedin-icon {
	background-color:#007bb5;
}

.twitter-icon {
	background-color:#00aced;
}

.google-plus-icon {
	background-color:#dd4b39;
}


