h1, h2, h3, p {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  font-size: 1.2em;
}

h1 {
  font-size: 4em;
}

body {
  background-image: url('../../assets/images/gray_tiles.png');
}
.ui.huge.header {
	font-size: 3em;
}
a {
	color: #aaa;
}
a:hover {
  color:black;
}

.ui.icon.button, .ui.icon.buttons .button {
  padding: 6px;
}

i.large.icons {
	font-size: 2em;
}

.landingContainer {
  width: 80%;
  margin: auto;
}
.parent {
  position: relative;
	min-height: 100vh;
}

.child {
	width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertCenteredParent {
  display: inline-block;
}

.vertCentered {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.faceIcon {
  margin: auto;
}
